WEBPASSWORD={{ PIHOLE_WEBPASSWORD }}
DNS_FQDN_REQUIRED={{ PIHOLE_DNS_FQDN_REQUIRED }}
DNS_BOGUS_PRIV={{ PIHOLE_DNS_BOGUS_PRIV }}
DNSSEC={{ PIHOLE_DNSSEC }}
DNSMASQ_LISTENING={{ PIHOLE_DNSMASQ_LISTENING }}

{% if PIHOLE_CONDITIONAL_FORWARDING | bool %}
CONDITIONAL_FORWARDING={{ PIHOLE_CONDITIONAL_FORWARDING }}
CONDITIONAL_FORWARDING_IP={{ PIHOLE_CONDITIONAL_FORWARDING_IP }}
CONDITIONAL_FORWARDING_DOMAIN={{ PIHOLE_CONDITIONAL_FORWARDING_DOMAIN }}
CONDITIONAL_FORWARDING_REVERSE={{ PIHOLE_CONDITIONAL_FORWARDING_REVERSE }}
{% endif %}

{% if PIHOLE_REV_SERVER | bool %}
REV_SERVER={{ PIHOLE_REV_SERVER }}
REV_SERVER_CIDR={{ PIHOLE_REV_SERVER_CIDR }}
REV_SERVER_TARGET={{ PIHOLE_REV_SERVER_TARGET }}
REV_SERVER_DOMAIN={{ PIHOLE_REV_SERVER_DOMAIN }}
{% endif %}

PIHOLE_INTERFACE={{ PIHOLE_INTERFACE }}
IPV4_ADDRESS={{ PIHOLE_IPV4_ADDRESS }}
IPV6_ADDRESS={{ PIHOLE_IPV6_ADDRESS }}
PIHOLE_DNS_1={{ PIHOLE_DNS_1 }}
PIHOLE_DNS_2={{ PIHOLE_DNS_2 }}
QUERY_LOGGING={{ PIHOLE_QUERY_LOGGING }}
INSTALL_WEB_SERVER={{ PIHOLE_INSTALL_WEB_SERVER }}
INSTALL_WEB_INTERFACE={{ PIHOLE_INSTALL_WEB_INTERFACE }}
LIGHTTPD_ENABLED={{ PIHOLE_LIGHTTPD_ENABLED }}
BLOCKING_ENABLED={{ PIHOLE_BLOCKING_ENABLED }}
ADMIN_EMAIL={{ PIHOLE_ADMIN_EMAIL }}
WEBUIBOXEDLAYOUT={{ PIHOLE_WEBLAYOUT }}
WEBTHEME={{ PIHOLE_WEBTHEME }}